<a href="https://colab.research.google.com/github/ecb23/danl-ml-hw1-BROWN-ERIC.ipynb/blob/main/danl_m1_hw3_BROWN_ERIC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
nyc_payroll = pd.read_csv('https://bcdanl.github.io/data/nyc_payroll_2022_2023.csv')
nyc_payroll

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2022,740,DEPARTMENT OF EDUCATION ADMIN,DAVIS,OSCAR,NaN,07/06/2021,BRONX,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,CEASED,53820.00,per Annum,805.0,24469.41,0.0,0.00,0.00
1,2022,746,DEPT OF ED PER DIEM TEACHERS,ZHOU,JUN,NaN,07/01/2020,MANHATTAN,TEACHER-GENERAL ED,ACTIVE,110.29,per Day,0.0,3387.59,0.0,0.00,0.00
2,2022,747,DEPT OF ED PER SESSION TEACHER,LOPEZ,YERIBEL,E,12/11/2001,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,20242.24,0.0,0.00,474.32
3,2022,742,DEPT OF ED PEDAGOGICAL,KENNEDY,VERA,R,04/08/2016,MANHATTAN,TEACHER,ACTIVE,79687.00,per Annum,0.0,74904.27,0.0,0.00,-4474.44
4,2022,742,DEPT OF ED PEDAGOGICAL,LICHVAR,AMANDA,C,02/01/2007,MANHATTAN,TEACHER SPECIAL EDUCATION,ACTIVE,109852.00,per Annum,0.0,109852.08,0.0,0.00,5380.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2023,300,BOARD OF ELECTION POLL WORKERS,GARNER,GEOFFREY,O,01/01/2020,MANHATTAN,ELECTION WORKER,ACTIVE,1.00,per Hour,0.0,928.00,0.0,0.00,0.00
1996,2023,742,DEPT OF ED PEDAGOGICAL,FIGUEROA,JESSICA,A,02/08/2006,MANHATTAN,TEACHER ASSIGNED A,ACTIVE,109852.00,per Annum,0.0,109852.08,0.0,0.00,0.00
1997,2023,747,DEPT OF ED PER SESSION TEACHER,DIFORTE,DANIELLE,N,09/05/2017,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,1824.57,0.0,0.00,0.00
1998,2023,747,DEPT OF ED PER SESSION TEACHER,BIONDO,STEFANIE,NaN,10/03/2011,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,4384.04,0.0,0.00,0.61
1999,2023,827,DEPARTMENT OF SANITATION,ARIAS,ELPIDIO,NaN,07/11/2022,MANHATTAN,SANITATION WORKER,ACTIVE,44064.00,per Annum,2000.0,40473.72,128.5,5659.77,10995.37

In [ ]:
#QUESTION 1
#Select “First Name”, “Last Name”, “Base Salary”, and
#“Total OT Paid”, then sort these selected variables by “Base Salary”
#in descending order and display the top 10 entries.


nyc_payroll.sort_values(by= ["First Name" , "Last Name", "Base Salary" ,
                        "Total OT Paid"],
                        ascending= False)


nyc_payroll.sort_values ([ "Base Salary" , "Total OT Paid"] ).tail(10)

#use .sort_values() command, list variable names , to list in
#descending order we use ascending= False, since descending, use 'tail'
#to find HIGHEST paid


#wym by 'then sort these selected variables by "Base Salary"

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
352,2022,742,DEPT OF ED PEDAGOGICAL,VARGAS,JEANETTE,NaN,01/03/1989,OTHER,PRINCIPAL,CEASED,176947.0,per Annum,0.0,0.00,0.0,0.0,10482.20
74,2022,742,DEPT OF ED PEDAGOGICAL,NEDD,JOYCELYN,K,10/15/1979,MANHATTAN,PRINCIPAL,CEASED,177113.0,per Annum,0.0,0.00,0.0,0.0,10836.27
425,2022,2,OFFICE OF THE MAYOR,JIMENEZ,KARINA,E,07/29/2019,MANHATTAN,ASSISTANT LEGISLATIVE REPRESENTATIVE,CEASED,178000.0,per Annum,1127.0,108448.20,0.0,0.0,2244.04
1379,2023,901,DISTRICT ATTORNEY-MANHATTAN,DAVID,SAMUEL,L,09/05/2006,MANHATTAN,ASSISTANT DISTRICT ATTORNEY,ACTIVE,180000.0,per Annum,1820.0,163013.77,0.0,0.0,0.00
858,2022,69,HRA/DEPT OF SOCIAL SERVICES,PILEWSKI,JOSEPH,A,07/18/2016,MANHATTAN,ADMINISTRATIVE SUPERVISOR OF BUILDING MAINTENANCE,ACTIVE,180450.0,per Annum,1820.0,162249.38,0.0,0.0,2747.10
73,2022,742,DEPT OF ED PEDAGOGICAL,RICE,VICTORIA,NaN,09/02/1997,MANHATTAN,PRINCIPAL,ACTIVE,187530.0,per Annum,0.0,186164.52,0.0,0.0,13594.88
1469,2023,996,NYC HOUSING AUTHORITY,KAPLAN,ANDREW,N,12/02/2019,MANHATTAN,EXECUTIVE PROGRAM SPECIALIST,ACTIVE,195000.0,per Annum,1820.0,178356.14,0.0,0.0,0.00
1378,2023,996,NYC HOUSING AUTHORITY,SOHONI,ARVIND,V,02/11/2019,MANHATTAN,DEPUTY EXECUTIVE DIRECTOR,ACTIVE,215000.0,per Annum,1820.0,193479.52,0.0,0.0,0.00
61,2022,69,HRA/DEPT OF SOCIAL SERVICES,BOODANIAN,BEDROS,L,11/05/2007,MANHATTAN,ADMINISTRATIVE STAFF ANALYST,ACTIVE,215861.0,per Annum,1820.0,215269.60,0.0,0.0,3780.75
433,2022,858,DEPT OF INFO TECH & TELECOMM,BIMONTE,MICHAEL,NaN,06/10/2003,BROOKLYN,COMPUTER SYSTEMS MANAGER,CEASED,233094.0,per Annum,0.0,0.00,0.0,0.0,103870.17

In [ ]:
#QUESTION 2
#Create a new DataFrame that includes employees from the
#“DEPARTMENT OF EDUCATION ADMIN” agency where the variables are
#“First Name”, “Last Name”, “Title Description”, “Base Salary”,
# and “Total OT Paid”.
#Additionally, include a new variable “Total Compensation” which is the sum
#of “Base Salary” and “Total OT Paid”.



nyc_payroll.nunique()
nyc_payroll

NameError: name 'nyc_payroll' is not defined

In [41]:
#QUESTION 3
#Using set_index(), change the DataFrame’s index to “Last Name”,
#then locate the data for a specific last name,
#say “BROWN”, and display their “Agency Name”,
#“Base Salary”, and “Total OT Paid”.



nyc_payroll.set_index("Last Name", inplace = True)

In [ ]:
( nyc_payroll.loc["BROWN"])

#locating data

,Fiscal Year,Payroll Number,Agency Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
Last Name,,,,,,,,,,,,,,,,
BROWN,2022,846,DEPT OF PARKS & RECREATION,VANGELIA,NaN,12/06/2007,MANHATTAN,CITY SEASONAL AIDE,ACTIVE,18.10,per Hour,454.00,8217.40,0.00,0.00,877.85
BROWN,2022,67,ADMIN FOR CHILDREN'S SVCS,KIMBERLY,R,01/22/2007,MANHATTAN,CHILD PROTECTIVE SPECIALIST,ACTIVE,60327.00,per Annum,1820.00,60161.66,127.25,4909.12,5160.59
BROWN,2022,747,DEPT OF ED PER SESSION TEACHER,JEAN,E,09/02/2003,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.00,4939.20,0.00,0.00,473.78
BROWN,2022,747,DEPT OF ED PER SESSION TEACHER,LAUREN,NaN,09/09/2021,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.00,2896.93,0.00,0.00,0.00
BROWN,2022,25,LAW DEPARTMENT,KIMBERLY,K,01/02/2018,MANHATTAN,ASSISTANT CORPORATION COUNSEL,ACTIVE,111595.00,per Annum,1820.00,106580.92,0.00,0.00,0.00
BROWN,2022,745,DEPT OF ED HRLY SUPPORT STAFF,SHELDON,R,10/29/2018,MANHATTAN,F/T SR. SCHOOL LUNCH HELPER,ACTIVE,14.81,per Hour,0.00,17456.88,0.00,0.00,1652.09
BROWN,2022,300,BOARD OF ELECTION POLL WORKERS,PAUL,NaN,01/01/2019,MANHATTAN,ELECTION WORKER,ACTIVE,1.00,per Hour,0.00,728.00,0.00,0.00,0.00
BROWN,2022,747,DEPT OF ED PER SESSION TEACHER,JESSICA,NaN,09/05/2017,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.00,4618.94,0.00,0.00,5.56
BROWN,2023,747,DEPT OF ED PER SESSION TEACHER,SHEVAUN,NaN,09/03/2002,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.00,2764.70,0.00,0.00,14.47
BROWN,2023,846,DEPT OF PARKS & RECREATION,SHANIA,K,04/15/2022,QUEENS,RECREATION SPECIALIST,ACTIVE,23.66,per Hour,1129.27,23714.66,20.67,415.00,2244.40

In [44]:
#QUESTION 4
#Find the 5 employees with the highest “Regular Gross Paid” and calculate their average “OT Hours”.
#Also, reset the index if you have changed it previously


# to reset index:

nyc_payroll.reset_index(inplace= True)

nyc_payroll.sort_values(by = "Regular Gross Paid")

nyc_payroll.nlargest(5,'Regular Gross Paid', keep = "all")



# average OT Hours : 6.5 hours

,Last Name,level_0,index,Fiscal Year,Payroll Number,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
61,BOODANIAN,61,61,2022,69,L,11/05/2007,MANHATTAN,ADMINISTRATIVE STAFF ANALYST,ACTIVE,215861.0,per Annum,1820.0,215269.60,0.0,0.00,3780.75
1378,SOHONI,1378,1378,2023,996,V,02/11/2019,MANHATTAN,DEPUTY EXECUTIVE DIRECTOR,ACTIVE,215000.0,per Annum,1820.0,193479.52,0.0,0.00,0.00
73,RICE,73,73,2022,742,NaN,09/02/1997,MANHATTAN,PRINCIPAL,ACTIVE,187530.0,per Annum,0.0,186164.52,0.0,0.00,13594.88
1469,KAPLAN,1469,1469,2023,996,N,12/02/2019,MANHATTAN,EXECUTIVE PROGRAM SPECIALIST,ACTIVE,195000.0,per Annum,1820.0,178356.14,0.0,0.00,0.00
1438,NOSSA,1438,1438,2023,56,A,07/30/2012,MANHATTAN,COMPUTER SYSTEMS MANAGER,ACTIVE,176513.0,per Annum,1820.0,176719.36,32.5,3594.74,6675.87

In [54]:
#QUESTION 5
#Sort the DataFrame by “Fiscal Year” and “Total Other Pay”
#in descending order, then set “First Name” as the index and use the
#loc accessor to retrieve the “Total Other Pay”
#for a specific first name, say “MICHAEL”.

#nyc_payroll.reset_index(inplace= True)

nyc_payroll.sort_values(["Fiscal Year" , "Total Other Pay"],
                        ascending= False)


# to set index



nyc_payroll= nyc_payroll.set_index("First Name")




# to locate "Total Other Pay for 'MICHAEL "

nyc_payroll.loc["Michael"]

KeyError: "None of ['First Name'] are in the columns"

In [80]:
#QUESTION 6

#Select employees who have “OT Hours” greater than 0,
#calculate their “OT Rate” (Total OT Paid / OT Hours),
#and then find the employee with the highest “OT Rate”.
#Display their full name and OT Rate.
#Hint: Start with filtering observations in nyc_payroll
#with the following lines:



# Boolean Series of whether or not 'OT Hours' is greater than 0.
pos_OT_hours = nyc_payroll['OT Hours'] > 0

# Keeping only the observations with pos_OT_hours == True
with_ot = nyc_payroll[ pos_OT_hours ]


ot_greater_than_zero = nyc_payroll[nyc_payroll['OT Hours'] > 0]

# calculating OT rate


ot_greater_than_zero['OT Rate'] = ot_greater_than_zero['Total OT Paid'] / ot_greater_than_zero['OT Hours']


# highest OT rate: ?

# nyc_payroll.sort_values(["OT rate"] .head(1)

highest_ot_rate_record = ot_greater_than_zero.loc[ot_greater_than_zero['OT Rate'].idxmax()]
nyc_payroll

<ipython-input-80-7d4fb0554a4f>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ot_greater_than_zero['OT Rate'] = ot_greater_than_zero['Total OT Paid'] / ot_greater_than_zero['OT Hours']

,Last Name,level_0,index,Fiscal Year,Payroll Number,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay,Total Compensation
0,DAVIS,0,0,2022,740,NaN,07/06/2021,BRONX,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,CEASED,53820.00,per Annum,805.0,24469.41,0.0,0.00,0.00,53820.00
1,ZHOU,1,1,2022,746,NaN,07/01/2020,MANHATTAN,TEACHER-GENERAL ED,ACTIVE,110.29,per Day,0.0,3387.59,0.0,0.00,0.00,110.29
2,LOPEZ,2,2,2022,747,E,12/11/2001,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,20242.24,0.0,0.00,474.32,33.18
3,KENNEDY,3,3,2022,742,R,04/08/2016,MANHATTAN,TEACHER,ACTIVE,79687.00,per Annum,0.0,74904.27,0.0,0.00,-4474.44,79687.00
4,LICHVAR,4,4,2022,742,C,02/01/2007,MANHATTAN,TEACHER SPECIAL EDUCATION,ACTIVE,109852.00,per Annum,0.0,109852.08,0.0,0.00,5380.44,109852.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,GARNER,1995,1995,2023,300,O,01/01/2020,MANHATTAN,ELECTION WORKER,ACTIVE,1.00,per Hour,0.0,928.00,0.0,0.00,0.00,1.00
1996,FIGUEROA,1996,1996,2023,742,A,02/08/2006,MANHATTAN,TEACHER ASSIGNED A,ACTIVE,109852.00,per Annum,0.0,109852.08,0.0,0.00,0.00,109852.00
1997,DIFORTE,1997,1997,2023,747,N,09/05/2017,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,1824.57,0.0,0.00,0.00,33.18
1998,BIONDO,1998,1998,2023,747,NaN,10/03/2011,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,4384.04,0.0,0.00,0.61,33.18
1999,ARIAS,1999,1999,2023,827,NaN,07/11/2022,MANHATTAN,SANITATION WORKER,ACTIVE,44064.00,per Annum,2000.0,40473.72,128.5,5659.77,10995.37,49723.77

In [57]:
#Question 7

#Sort the DataFrame first by “Work Location Borough” alphabetically,
#and then by “Total Compensation” (sum of “Base Salary” and “Total OT Paid”)
#in descending order within each borough.


nyc_payroll['Total Compensation'] = nyc_payroll['Base Salary'] + nyc_payroll['Total OT Paid']

sorted_df = nyc_payroll.sort_values(by=['Work Location Borough', 'Total Compensation'], ascending=[True, False])

print(sorted_df.head(10))

     Last Name  level_0  index  Fiscal Year  Payroll Number Mid Init  \
1172  ROBINSON     1172   1172         2023              56        L
253   HANRATTY      253    253         2022             902        C
1182     DAVIS     1182   1182         2023             902        L
602      RUMPH      602    602         2022              56      NaN
307      WEBER      307    307         2022              57        P
98    GUTTILLA       98     98         2022              57      NaN
1975   GREGORY     1975   1975         2023              57        M
486       CRUZ      486    486         2022              56        Y
1229    SANDOW     1229   1229         2023               3        T
1564    SIGNOR     1564   1564         2023              56      NaN

     Agency Start Date Work Location Borough  \
1172        07/02/2001                 BRONX
253         03/19/2017                 BRONX
1182        10/30/2017                 BRONX
602         04/30/1995                 BRONX
307         03/07/2004                 BRONX
98          07/29/2013                 BRONX
1975        06/12/2017                 BRONX
486         07/08/2008                 BRONX
1229        11/14/2005                 BRONX
1564        07/06/2011                 BRONX

                        Title Description Leave Status as of June 30  \
1172  POLICE OFFICER D/A DETECTIVE 2ND GR                     ACTIVE
253           ASSISTANT DISTRICT ATTORNEY                     ACTIVE
1182          ASSISTANT DISTRICT ATTORNEY                     ACTIVE
602                       P.O. DA DET GR3                     ACTIVE
307                           FIREFIGHTER                     ACTIVE
98                            FIREFIGHTER                     ACTIVE
1975                          FIREFIGHTER                     ACTIVE
486                            LIEUTENANT                     ACTIVE
1229                   DEPUTY CHIEF CLERK                     ACTIVE
1564                      P.O. DA DET GR3                     ACTIVE

      Base Salary  Pay Basis  Regular Hours  Regular Gross Paid  OT Hours  \
1172     118056.0  per Annum         2080.0           114065.87    705.17
253      170000.0  per Annum         1820.0           161533.16      0.00
1182     160000.0  per Annum         1820.0           156876.82      0.00
602      105062.0  per Annum         2080.0           113336.55    657.60
307       92073.0  per Annum         2080.0           110621.56   1039.33
98        92073.0  per Annum         2080.0           110075.97   1119.92
1975      92073.0  per Annum         2080.0            91820.82    763.80
486      123939.0  per Annum         2080.0           125499.21    375.25
1229     146705.0  per Annum         1820.0           146303.04      0.00
1564     104606.0  per Annum         2080.0           104195.70    462.75

      Total OT Paid  Total Other Pay  Total Compensation
1172       68725.63         24641.79           186781.63
253            0.00          3500.00           170000.00
1182           0.00          9000.00           160000.00
602        49706.74         21117.63           154768.74
307        61087.56         20700.83           153160.56
98         57443.57         16716.59           149516.57
1975       55188.56         18602.69           147261.56
486        22993.14         15959.85           146932.14
1229           0.00             0.00           146705.00
1564       40174.46         14977.72           144780.46